{% extends "base.html" %}
{% block content %}
  <div id="matrix-rain"></div>
  <div class="about-content">
    <h1>About Leolord</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel purus justo. Sed bibendum lorem nec facilisis accumsan. Cras pellentesque lectus ac facilisis fringilla. Nulla facilisi. Suspendisse ullamcorper sapien ut ante aliquam, vel facilisis sem ultrices.</p>
  </div>
  <script src="{{ url_for('static', filename='js/matrix-rain.js') }}"></script>
{% endblock %}
